/* GENERAL */

.bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

h1 {
  margin: 80px;
  font-weight: 400;
  font-size: 60px;
  padding: 20px 0;
}

/*CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: "Lato";
  color: #494242;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  gap: 20px;
}

.illustration {
  display: flex;
  justify-content: left;
}

.illustration img {
  width: 645px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: "Lato";
  color: #494242;
  position: relative;
}

.showcase {
  grid-column: 2 / 3;
  margin-bottom: 40px;
}

/* Adjust styling as needed */
.centered {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -60%);
}

.centered p {
  text-align: left;
  line-height: 1.5;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .bg {
    flex-direction: column;
    justify-content: center;
  }

  .bg img {
    width: 450px;
  }

  h1 {
    position: absolute;
    top: 8%;
    right: 25%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .illustration img {
    width: 80%;
  }

  .text {
    margin: 50px;
    display: flex;
  }

  .showcase {
    grid-column: 1 / 3;
  }

  .centered {
    position: absolute;
    top: 68%;
    left: 40%;
    text-align: left;
    font-size: 11.5px;
  }

  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
  }
}
