/* GENERAL */

h1 {
  margin: 50px;
  font-weight: 400;
  font-size: 60px;
  padding: 20px 0;
  text-align: left; /* Added for better positioning */
}

.flower_1 {
  left: 340px;
  top: 190px;
}

.flower_1 {
  position: absolute;
}

/* CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: "Lato";
  color: #494242;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  gap: 20px;
}

.illustration {
  display: flex;
  justify-content: left;
}

.illustration img {
  width: 80%;
  object-fit: cover;
}

.illustration2 {
  position: absolute;
  top: 246px;
  left: 45px;
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 55px;
}

.illustration2 img {
  width: 375px;
  height: auto;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: "Lato";
  color: #494242;
}

.showcase {
  position: relative;
  margin-bottom: 40px;
}

.showcase img {
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 55px;
}

.centered p {
  text-align: left;
  line-height: 1.5;
  max-width: 800px;
}

.centered h2 {
  margin-bottom: 15px;
}

.centered h3 {
  margin-bottom: 12px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  h1 {
    position: static; /* Changed from absolute to static for better flow */
    margin: 20px; /* Adjusted margins */
    text-align: left; /* Ensure centering on small screens */
    font-size: 48px; /* Adjust font size for better readability */
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text {
    margin: 40px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .showcase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin-bottom: 20px; /* Adjust as needed for spacing */
  }

  .showcase img {
    width: 100%;
    height: auto;
  }

  .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 40px;
    text-align: left;
    font-size: 14px;
  }

  .centered p {
    text-align: left;
    line-height: 1.5;
    max-width: 800px;
    font-size: 13px;
  }

  .centered h2 {
    font-size: 20px;
  }

  .illustration {
    display: flex;
    justify-content: left;
  }

  .illustration img {
    height: auto;
    width: 385px;
  }

  .illustration2 {
    display: flex;
    justify-content: left;
    position: absolute;
    top: 135px;
    left: 10px;
  }

  .illustration2 img {
    height: auto;
    width: 240px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .flower_1 {
    position: absolute;
    left: 260px;
    top: 90px;
  }
}

/* DARK MODE */

body.dark {
  background-color: #494242;
}

body.dark p,
body.dark h1,
body.dark h2,
body.dark h3 {
  color: #fff;
}

body.dark .showcase img {
  filter: grayscale(100%) brightness(40%);
}
