/* GENERAL */

.hide {
  display: none;
}
.cards_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px;
  gap: 60px;
}

.start-text1 {
  margin-left: 30px;
  margin-top: 20px;
}

.start-text1 {
  display: flex;
  gap: 15px;
}

.start-text1 img {
  width: 38px;
  height: 38px;
}

.start-text2 p {
  text-align: left;
  font-family: "Lato";
  font-weight: 600;
  font-size: 15px;
}

.start-text2 {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.flower_1 {
  left: 340px;
}

.flower_1 {
  position: absolute;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
  .cards_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .start-text1,
  .start-text2 {
    max-width: 450px;
  }

  .start-text2 p {
    font-weight: 400;
    font-size: 13.5px;
  }

  .flower_1 {
    left: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .cards_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 20px;
  }

  .start-text2 p {
    font-weight: 400;
    font-size: 14px;
  }

  .flower_1 {
    left: 300px;
  }
}

/* DARK MODE */
body.dark {
  background-color: #494242;
}

body.dark p,
body.dark h1,
body.dark .kurv {
  color: #fcfff6;
}
