/* GENERAL */
body {
  background-image: url("/images/gradient_overview.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.cards_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px;
  gap: 50px;
}

.start-text1 {
  margin-left: 40px;
  margin-top: 40px;
}

.start-text1 {
  display: flex;
  gap: 15px;
}

.start-text1 img {
  width: 38px;
  height: 38px;
}

.start-text2 p {
  text-align: left;
  font-family: "Lato";
  font-weight: 600;
  font-size: 15px;
}

.start-text2 {
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 5px;
}

/* KNAPPER */

.show_more button {
  border: 0;
  background-color: #dadada;
  font-family: "Lato";
  font-size: 15px;
  color: #494242;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  margin-left: 35px;
}

.show_more {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.show_more button {
  background-color: #dadada;
  font-family: "Lato";
}

.show_more button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #b0b0b0;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .cards_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 40px;
  }

  .category2,
  .category3 {
    display: none;
  }

  .start-text1,
  .start-text2 {
    max-width: 350px;
  }

  .start-text2 p {
    font-weight: 400;
    font-size: 16px;
  }

  .show_more button {
    margin-left: 0;
    margin-top: 20px;
    font-size: 16px;
  }
  br {
    display: none;
  }
}
