---
const { title, category } = Astro.props;
import Header from "../Header.astro";
import Footer from "../Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/0b02d067e0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/marine-sikona" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer><Footer /></footer>
  </body>
</html>
