---
import "../styles/style.css";
import "../styles/index.css";
import PinkKnap from "../components/Pink_knap.astro";
import Frontgallery from "../components/Frontgallery.astro";
import Mainlayout from "../components/layouts/Mainlayout.astro";
import WorkshopSlide from "../components/WorkshopSlide.astro";
import IndexSlide from "../components/IndexSlide.astro";
---

<Mainlayout title="Forside">
  <div class="container">
    <article class="intro">
      <img id="frontpage_img" height="750" width="1600" src="/images/webpp/frontpage_background.webp" alt="Your Image" />
      <div class="front_pos_text fade-in">
        <h1 id="susse_volander_title">VOLANDER ART</h1>
        <p id="front_image_text">
          Velkommen til mit digitale galleri! Udforsk en verden af farver, følelser og kreativitet gennem maleri, og oplev unikke værker, der vækker
          glæde.
        </p>
        <div class="middle">
          <PinkKnap linknavn="/overview" variant="secondary">Se shop</PinkKnap>
        </div>
      </div>
    </article>
  </div>
  <article class="front_om_mig fade-in">
    <article class="middle">
      <h2 class="spacing">Om Susse Volander</h2>
      <p>
        Jeg er Susse, en kunstner med et overflødighedshorn af kreativitet! Mit tilgang med mit kunst er legende og fyldt med liv, hvor jeg elsker at
        udforske forskellige teknikker og materialer. Gennem mine workshops inviterer jeg andre til at udfolde deres kreativitet og finde inspiration
        i det ukendte. Sammen kan vi skabe et rum for fri udfoldelse!
      </p>
      <div class="spacing">
        <PinkKnap linknavn="/ommig" variant="secondary">Læs mere</PinkKnap>
      </div>
    </article>
    <div class="portrait_container">
      <img id="big_flower" src="/images/flower.svg" alt="big flower" />
      <img id="small_flower" src="/images/flower.svg" alt="small flower" />
      <img src="/images/susse_portrait.webp" alt="Susse portrait" />
    </div>
  </article>
  <div class="container_background">
    <div class="front_gallery_container fade-in">
      <article class="front_gallery_text">
        <h2 class="spacing">Tidligere værker</h2>
        <p class="spacing">
          Kære venner, tag et ømt kig tilbage på disse nøje udvalgte værker fra min tidligere skabninger! Hvert maleri er som et vindue ind i min
          kunstneriske rejse, en eksplosion af liv og farve, der fanger et unikt øjeblik der udfolder sig på lærredet.
        </p>
        <PinkKnap variant="secondary" linknavn="/galleri" variant="secondary">Se galleri</PinkKnap>
        <IndexSlide />
      </article>
      <div class="slide"></div>
    </div>
  </div>

  <article class="container">
    <div class="image-container">
      <img id="front_workshop_img" src="/images/workshop_forside.webp" height="500" width="1600" alt="workshop front image" />
      <div class="text-container">
        <div class="white-box fade-in">
          <h2 class="spacing">Mine workshops</h2>
          <p class="spacing">
            Hos mine workshops, forvandler vi genbrugsmaterialer til kunstværker! Mit engagement i disse workshops begyndte for 15 år siden, da jeg
            opdagede potentialet i genbrugsmaterialer. Siden da har jeg afholdt workshops, hvor både børn og voksne kan deltage og skabe sammen.
          </p>
          <p class="spacing">Hvis det er noget du er interesseret i, kan du klikke videre til min workshop page.</p>
          <PinkKnap linknavn="/workshop" variant="secondary">Mine workshops</PinkKnap>
        </div>
      </div>
    </div>
  </article>
  <div class="form">
    <div>
      <h2 class="spacing">Workshop mailingliste</h2>
    </div>
    <form class="email_form" name="email-form">
      <div class="input-group">
        <input class="emailform" type="email" placeholder="Indtast din email her" required />
        <button class="email-icon" type="submit" aria-label="email-icon"><i class="fa-regular fa-envelope"></i></button>
      </div>
    </form>
  </div>
</Mainlayout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const faders = document.querySelectorAll(".fade-in");
    const sliders = document.querySelectorAll(".slide-in");

    const appearOptions = {
      threshold: 0,
      rootMargin: "0px 0px -250px 0px",
    };

    const appearOnScroll = new IntersectionObserver(function (entries, appearOnScroll) {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return;
        } else {
          entry.target.classList.add("appear");
          appearOnScroll.unobserve(entry.target);
        }
      });
    }, appearOptions);

    faders.forEach((fader) => {
      appearOnScroll.observe(fader);
    });
  });
</script>

<style>
  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
</style>
