---
import Frontgallery from "../components/Frontgallery.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";
import Pink_knap from "../components/Pink_knap.astro";
---

<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>Frontpage</title>
    <link rel="stylesheet" href="layout.css">
    <link href="https://fonts.cdnfonts.com/css/marine-sikona" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>
</head>

<body>
  <Header></Header>
    <main>
        <div class="container">
            <article class="intro">
                <img id="frontpage_img" src="/images/webpp/frontpage_background.webp" alt="Your Image" class="image">
                <div class="front_pos_text">
                    <h1 id="susse_volander_title">VOLANDER ART</h1>
                    <p id="front_image_text">Velkommen til mit digitale galleri! Udforsk en verden af farver, følelser og kreativitet gennem
                        maleri, og oplev unikke værker, der vækker glæde.</p>
                    <div class="middle">
                        <Pink_knap linknavn="Se shop"></Pink_knap>
                    </div>
                </div>
            </article>
        </div>
        <article class="front_om_mig">
          <article class="middle">
            <h2 class="spacing">Om Susse Volander</h2>
            <p>Jeg er Susse, en kunstner med et overflødighedshorn af kreativitet! Mit tilgang med mit kunst er legende og
                fyldt med liv, hvor jeg elsker at udforske forskellige teknikker og materialer. Gennem mine workshops
                inviterer jeg andre til at udfolde deres kreativitet og finde inspiration i det ukendte. Sammen kan
                vi skabe et rum for fri udfoldelse!
            </p>
            <div class="spacing">
              <Pink_knap linknavn="Læs mere"></Pink_knap>
            </div>
          </article>
            <div class="portrait_container">
                <img id="big_flower" src="/images/flower.svg" alt="big flower">
                <img id="small_flower" src="/images/flower.svg" alt="small flower">
                <img src="/images/susse_portrait.png" alt="susse_portrait">
            </div>
        </article>
        <Frontgallery></Frontgallery>
        <article class="container">
          <div class="image-container">
            <img id="front_workshop_img" src="/images/workshop_background_front.png" alt="workshop front image">
            <div class="text-container">
              <div class="white-box">
                <h2 class="spacing">Mine workshops</h2>
                <p class="spacing"> Hos mine workshops, forvandler vi genbrugsmaterialer til kunstværker! Mit engagement i disse workshops begyndte for 15 år siden, da jeg opdagede potentialet i genbrugsmaterialer. Siden da har jeg afholdt workshops, hvor både børn og voksne kan deltage og skabe sammen. </p>
                <p class="spacing">Hvis det er noget du er interesseret i, kan du klikke videre til min workshop page.</p>
                <Pink_knap linknavn="Mine workshops"></Pink_knap>
              </div>
            </div>
          </div>
        </article>

        <div class="form">
          <div>
            <h2 class="spacing">Workshop mailing list</h2>
          </div>
          <form class="email_form" name="email-form">
            <div class="input-group">
              <input class="emailform" type="email" placeholder="Please enter your email" required />
              <button class="email-icon" type="submit"><i class="fa-regular fa-envelope"></i></button>
            </div>
          </form>
        </div>
        
    </main>
    <Footer></Footer>
</body>

</html>

<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto; /* Adjust the width of the image */
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.intro h1 {
  margin: auto;
  font-size: 45px;
}

.container {
  position: relative;
  width: 150%; /* Adjust the width of the container */
  height: 100%; /* Ensure the container covers the height of the viewport */
  overflow: hidden; /* Hide overflow */
}

.front_pos_text {
  position: absolute;
  top: 45%;
  left: 2%;
  transform: translate(-2%, -50%);
  margin: 0 33px;
}

#susse_volander_title, #front_image_text {
  margin-bottom: 10px;
  color:#fcfff6;
}
#front_image_text{
  max-width: 450px;
}

.middle {
  margin: auto;
}
.h3_text {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#frontpage_img {
  width: 160%; /* Adjust the width of the image for mobile view */
  height: auto;
}
.spacing {
margin: 15px 0;
}
.container {
  width: 100%; /* Set width to 100% for mobile view */
  overflow: hidden; /* Hide overflow on mobile devices */
}

.front_om_mig {

margin: auto 33px;
}

.portrait_container {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
}

#big_flower {
  position: absolute;
  width: 80px;
  height: auto;
  left: 83%;
  top: 5%;
}

#small_flower {
  position: absolute;
  width: 60px;
  height: auto;
  left: 0%;
  top: 80%;
}

@keyframes rock {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

#big_flower,
#small_flower {
  animation: rock 3s ease-in-out infinite alternate; /* Adjust the animation duration and timing function as needed */
}

.image-container {
  position: relative;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-2%, -50%);
}

.white-box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
}

.white-box button {
  background-color: #007bff; /* Example button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

/*//////KONTAKT FORMULAR //////////*/
.form {
    margin: 15px auto;
    color: #f2f2f2;
    margin: 15px 33px;
    display: flex;
    justify-content: center;
  }
  .form p {
    padding-top: 10px;
  }



  .email_form {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .input-group {
    position: relative;
    display: flex;
  }

  .emailform {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
  }

  .email-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #969696;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .email-icon:hover{
    background-color: #8AAF9D;
  }

  .email-icon i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

@media screen and (min-width: 768px) {
  #frontpage_img {
  width: 100%; /* Adjust the width of the image for mobile view */
}
.container {
  position: relative;
  width: 100%; /* Adjust the width of the container */
  height: 100%; /* Ensure the container covers the height of the viewport */
  overflow: hidden; /* Hide overflow */
}
.front_pos_text {
  top: 35%;
  left: 7%;
  margin: 0 0;
}
.front_om_mig {
display: grid;
grid-template-columns: 1fr 1fr;
margin: auto 6%;
}


.white-box{
  text-align: center;
  max-width: 70%;
  margin: auto;
}
.white-box h2{
  margin-bottom: 15px;
}
.email_form{
text-align: center;
margin: auto 15px;
justify-content: center;
}

}

@media screen and (min-width: 1200px) {
.front_om_mig {
  margin: auto 19%;
}
}
</style>

<script>

</script>
