---
import Mainlayout from "../components/layouts/Mainlayout.astro";
import "../styles/style.css";
import "../styles/ommig.css";
---

<Mainlayout title="Om mig">
<div class="kunstens_verden">
        <div class="intro">
            <img src="/om_mig_billeder/intro_om_mig.webp" alt="intro billede">
            <div id="intro_text">
                <h1 class="fade-in">KUNSTNEREN BAG LÆRREDET</h1>
                <p class="none fade-in">Jeg er Susse Volander, en kunstner, der lever og ånder for at udtrykke mig kreativt!</p>
            </div>
        </div>

    <div class="box_container top_aligned_container fade-in">
        <article class="flex_row">
            <div>
                <h2>MIN REJSE IND I KUNSTENS VERDEN</h2>
                <p>Da jeg var 7 år gammel, tegnede jeg løs på alt, også i skolen. Jeg husker tydeligt, at lærerne sagde: "Du kan ikke regne, men du kan fandme tegne", og denne bemærkning blev hængende i baghovedet!</p>
                <p>Omkring det tidspunkt tog min farmor min hånd og ledte mig til en boghandler i Århus til at give mig noget helt speciel; en kasse med tegnekul. </p>
                <p>tegnekul! et ord, som jeg stadig synes er fantastisk.</p>
                <p>Siden da har jeg været solgt. At udtrykke mig selv kreativt er blevet ligesom fodder for mig, hvor jeg ville dø hvis jeg ikke kunne male!</p>
            </div>
            <div>
                <img class="margin-top" src="/om_mig_billeder/multiple_paintings.webp" alt="paintings">
            </div>
        </article>
    </div>
</div>

<div class="everything_container">
    <div class="box_container fade-in ">
        <h2 class="margin-bottom visible_mobile">GENBRUG: MIN UENDELIGE INSPIRATIONSKILDE</h2>
        <div class="grid_img_text">
            <img class="slide-in from-left" src="/om_mig_billeder/paintings.webp" alt="susse malerier">
            <article class="red_thread slide-in from-right">
                <h2 class="visible_desktop title_skewered">GENBRUG: MIN UENDELIGE</h2>
                <h2 class="visible_desktop">INSPIRATIONSKILDE</h2>
                <p>Der er en rød tråd i hele mine malerier, og jeg inspirerer mig selv ud fra hvad der foregår omkring mig og ud fra de genbrugte materialer, der havner i genbrug. Jeg får alt det som genbrug ikke kunne sælge, et legetøjsgris der mangler et ben, eller et puslespil der mangler brikker. Det inspirerer mig SÅ meget, og det er det jeg laver workshop fra. Genbrug er en kæmpe, lækker suppe jeg slurker op!</p>
                <p>Når det kommer til kreative blokeringer, er jeg heldig ikke at opleve dem, da der er så mange ideer der kører i mit hoved der bare skal UD!</p>
            </article>
        </div>
    </div>
    
<div class="box_container fade-in">
    <article>
        <h2>LEGENDE TILGANG MED GENBRUG</h2>         
    </article>
    <hr>
    <div id="grid_hanging">
        <div class="hanging_container slide-in from-left">
            <img id="hoved" class="swing" src="/om_mig_billeder/hoved_uden_piner.webp" alt="hoved uden piner">
            <img id="pipaluk" class="swing" src="/om_mig_billeder/pipaluk_hanging_around.webp" alt="pipaluk hanging">
            <img id="art_collage" class="swing" src="/om_mig_billeder/hanging_art_collage.webp" alt="hanging art">
        </div>
        <article class="fade-in">
            <p>Når man er kunstner på den måde som jeg er, undrede jeg mig om alt det forbrug. Altså, alt det halløj med at bare købe, købe, købe.</p>
            <p>Så for 15 år siden, da jeg skulle smide noget ud og hente et eller andet, så jeg simpelthen så mange sjove ting der gav mig ideer til, hvad de kunne bruges til.</p>
            <p>Så der tog jeg mit campingvogn til dronningemølle og de dimser jeg fandt med, og startede et workshop af de ting jeg fandt. Det startede af med at det var børn der var interesserede, og så begyndte forældre langsomt at deltage med!</p>
        </article>
    </div>
</div>
</div>

<div class="background_workshop">
    <div class="box_container top_aligned_container fade-in">
        <h2 class="margin-bottom visible_mobile">GENBRUG: MIN UENDELIGE INSPIRATIONSKILDE</h2>
        <div class="grid_img_text">
                <img class="slide-in from-left" src="/om_mig_billeder/workshop_wagon_last.webp" alt="susse malerier">
            <article class="red_thread slide-in from-right">
                <h2 class="visible_desktop title_skewered_workshop">NÅR KREATIVITETEN</h2>
                <h2 class="visible_desktop">FORBINDER GENERATIONER</h2>
                <p>Hele oplevelsen med mine workshops er virkelig speciel for mig. Under en fri workshop, hvor vi brugte naturens materialer som blade og sten, havde jeg et øjeblik, der virkelig gav mig et "wow!"-øjeblik.</p>
                <p> En lille pige, super begejstret for at være der, fik sine forældre til at deltage. Til at begynde med sad forældrene stille, men da de begyndte at deltage, skabte de nogle fantastiske ting sammen.</p>
                <p>At se forældre og børn skabe noget sammen, der pludselig falder på plads er virkelig inspirerende. Børnenes entusiasme og kreativitet giver mig en masse energi og inspiration - som for eksempel ordet "tudsesuppe"!</p>
                <p>At arrangere disse workshops er en ægte win-win situation for mig. så kom endelig, og lad kreativiteten flyde! Tjek mine workshops ud og vær med til at skabe nogle rigtige fede ting!</p>
                <a href="/src/pages/workshop">Læs mere</a>
            </article>

        </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const faders = document.querySelectorAll(".fade-in");
    const sliders = document.querySelectorAll(".slide-in");
    const swingers = document.querySelectorAll(".swing");

    const appearOptions = {
        threshold: 0.1, // Adjust this value based on your needs
        rootMargin: "0px 0px -100px 0px" 
    };

    const appearOnScroll = new IntersectionObserver((entries, appearOnScroll) => {
        entries.forEach(entry => {
            if (!entry.isIntersecting) {
                return;
            } else {
                entry.target.classList.add("appear");
                if (entry.target.classList.contains("swing")) {
                    entry.target.style.animation = "swing 2.7s ease-in-out forwards";
                }
                console.log("Element appeared:", entry.target); 
                appearOnScroll.unobserve(entry.target);
            }
        });
    }, appearOptions);

    faders.forEach(fader => {
        console.log("Observing element:", fader);
        appearOnScroll.observe(fader);
    });

    sliders.forEach(slider => {
        console.log("Observing element:", slider); 
        appearOnScroll.observe(slider);
    });

    swingers.forEach(swinger => {
        console.log("Observing element:", swinger);
        appearOnScroll.observe(swinger);
    });
});

</script>
</Mainlayout>

<style>
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left{
    grid-column: 2 / 3;
    transform: translateX(-50%);
}

.from-right{
    grid-column: 3 / 4;
    transform: translateX(50%);


}

.from-left, .from-right{
    transition: transform 400ms ease-in;
}

.from-left.appear, .from-right.appear{
    transition: transform 400ms ease-in;
    transform: translateX(0);
}

@keyframes swing {
  0% {
    transform: rotate(10deg); 
  }
  25% {
    transform: rotate(-10deg); 
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

.hanging_container img {
  /* animation: swing 4s ease-in-out forwards; */
  transform-origin: top center; /* Set the rotation center to the top */
  position: absolute;
  height: auto; /* Maintain aspect ratio */
}

.red_thread a{
    text-decoration: underline;
}

.red_thread a:hover{
    color: #F20056;
}
</style>

