---
import CardOverview from "../components/CardOverview.astro";
import OverviewLayout from "../components/layouts/OverviewLayout.astro";
import FlowerAnimation from "../components/FlowerAnimation.astro";
import Buttons from "../components/Buttons.astro";
import "../styles/overview.css";
import "../styles/style.css";

const data = await fetch("https://iquwaksrvuailrbwzeqm.supabase.co/rest/v1/paintings", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxdXdha3NydnVhaWxyYnd6ZXFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2MDgyNzEsImV4cCI6MjAzMTE4NDI3MX0.TAN2h-nqq62fwRfrJesymEvsWNpJv_HsJnaiA0kzups",
  },
}).then((res) => res.json());
---

<OverviewLayout title="Webshop">
  <div class="start-text1 slide-in">
    <h1 class="title">WEBSHOP</h1>
    <div class="flower_1"><FlowerAnimation variant="primary" /></div>
  </div>
  <div class="start-text2 slide-in">
    <p>
      Velkommen til min webshop! Træd ind i en verden af unikke <br /> kunstværker, skabt med kærlighed og passion. Udforsk en samling <br /> af malerier,
      der fanger øjet og berører sjælen. Hvert stykke er en <br />
      fortælling, en rejse, og en unik skat at tage med hjem.
    </p>
  </div>

  <div class="buttons-container slide-in">
    <Buttons category="Alle" />
    <Buttons category="Lærred" />
    <Buttons category="Plakat" />
    <Buttons category="Tryk" />
    <Buttons category="Bog" />
  </div>

  <section class="cards_list slide-in">
    {
      data.map((data, overview) => {
        const className = `item_${(overview % 3) + 1} slide-in`;
        return (
          <div class={className}>
            <CardOverview data={data} />
          </div>
        );
      })
    }
  </section>
  <div class="spacing"></div>
</OverviewLayout>

<script>
  /// Add event listener to slide in animation for cards ///
  document.addEventListener("DOMContentLoaded", function () {
    const faders = document.querySelectorAll(".cards_list");
    const sliders = document.querySelectorAll(".slide-in");

    const appearOptions = {
      threshold: 0, // Set to 0 to trigger the animation as soon as any part of the element becomes visible
      rootMargin: "0px 0px -100px 0px", // Adjust the negative margin in the vertical direction to start the animation earlier
    };

    const appearOnScroll = new IntersectionObserver(function (entries, appearOnScroll) {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return;
        } else {
          entry.target.classList.add("appear");
          appearOnScroll.unobserve(entry.target);
        }
      });
    }, appearOptions);

    faders.forEach((fader) => {
      appearOnScroll.observe(fader);
    });
    sliders.forEach((slider) => {
      appearOnScroll.observe(slider);
    });

    /// Add event listeners to buttons for active state ///
    const buttons = document.querySelectorAll("button");
    buttons.forEach((button) => button.addEventListener("click", handleButtonClick));

    function handleButtonClick(event) {
      buttons.forEach((button) => button.classList.remove("active"));
      event.target.classList.add("active");
    }

    /// Add event listeners to buttons for filtering cards ///
    buttons.forEach((button) => button.addEventListener("click", filtrer));

    function filtrer(e) {
      document.querySelectorAll(".card").forEach((element) => element.classList.add("hide"));
      const filter = e.target.textContent.trim().toLowerCase();
      switch (filter) {
        case "lærred":
          document.querySelectorAll(".lærred").forEach((element) => element.classList.remove("hide"));
          break;
        case "plakat":
          document.querySelectorAll(".plakat").forEach((element) => element.classList.remove("hide"));
          break;
        case "tryk":
          document.querySelectorAll(".tryk").forEach((element) => element.classList.remove("hide"));
          break;
        case "bog":
          document.querySelectorAll(".bog").forEach((element) => element.classList.remove("hide"));
          break;
        default:
          document.querySelectorAll(".card").forEach((element) => element.classList.remove("hide"));
          break;
      }
    }
  });
</script>

<style>
  /*ANIMATION*/
  .slide-in {
    opacity: 0;
    transform: translateY(20px); /* or any other initial position */
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .slide-in.appear {
    opacity: 1;
    transform: translateY(0);
  }
</style>
