---
import CardOverview from "../components/CardOverview.astro";
import OverviewLayout from "../components/layouts/OverviewLayout.astro";
import FlowerAnimation from "../components/FlowerAnimation.astro";
import Buttons from "../components/Buttons.astro";
import "../styles/overview.css";
import "../styles/style.css";

const data = await fetch("https://iquwaksrvuailrbwzeqm.supabase.co/rest/v1/paintings", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxdXdha3NydnVhaWxyYnd6ZXFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2MDgyNzEsImV4cCI6MjAzMTE4NDI3MX0.TAN2h-nqq62fwRfrJesymEvsWNpJv_HsJnaiA0kzups",
  },
}).then((res) => res.json());
---

<OverviewLayout title="WEBSHOP">
  <div class="start-text1">
    <h1>WEBSHOP</h1>
    <div class="flower_1"><FlowerAnimation variant="primary" /></div>
  </div>
  <div class="start-text2">
    <p>
      Velkommen til min webshop! Træd ind i en verden af unikke <br /> kunstværker, skabt med kærlighed og passion. Udforsk en samling <br /> af malerier,
      der fanger øjet og berører sjælen. Hvert stykke er en <br />
      fortælling, en rejse, og en unik skat at tage med hjem.
    </p>
  </div>

  <div>
    <Buttons category="Alle" />
    <Buttons category="Lærred" />
    <Buttons category="Plakat" />
    <Buttons category="Tryk" />
    <Buttons category="Bog" />
  </div>

  <section class="cards_list">
    {
      data.map((data) => {
        return <CardOverview data={data} />;
      })
    }
  </section>
</OverviewLayout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll("button");
    buttons.forEach((button) => button.addEventListener("click", (e) => filtrer(e)));

    function filtrer(e) {
      // Hide all cards
      console.log(document.querySelectorAll(".card"));
      document.querySelectorAll(".card").forEach((element) => element.classList.add("hide"));
      console.log("Button clicked:", e.target.textContent);

      const filter = e.target.textContent.trim().toLowerCase();
      console.log("Cleaned filter", filter);
      switch (filter) {
        case "lærred":
          console.log("Filtering for Lærred");
          document.querySelectorAll(".lærred").forEach((element) => element.classList.remove("hide"));
          break;
        case "plakat":
          console.log("Filtering for Plakat");
          document.querySelectorAll(".plakat").forEach((element) => element.classList.remove("hide"));
          break;
        case "tryk":
          console.log("Filtering for Tryk");
          document.querySelectorAll(".tryk").forEach((element) => element.classList.remove("hide"));
          break;
        case "bog":
          console.log("Filtering for Bog");
          document.querySelectorAll(".bog").forEach((element) => element.classList.remove("hide"));
          break;
        default:
          console.log("Filtering for all");
          document.querySelectorAll(".card").forEach((element) => element.classList.remove("hide"));
          break;
      }
    }
  });
</script>
