---
import Mainlayout from "../components/layouts/Mainlayout.astro";
import Kontaktform from "../components/Kontaktform.astro";
import FlowerAnimation from "../components/FlowerAnimation.astro";
import WorkshopSlide from "../components/WorkshopSlide.astro";
import "../styles/style.css";
---

<Mainlayout title="Workshop">
  <section class="page_title fade-in">
    <h1 class="title_1">ART WORKSHOP</h1>
    <div class="flower_1"><FlowerAnimation variant="primary" /></div>
    <h1 class="title_2">CREATIVE ZONE</h1>
  </section>

  <section class="om_workshop fade-in">
    <div class="flower_2"><FlowerAnimation variant="secondary" /></div>
    <img class="workshop_susse" src="/workshop/workshopsusse-medium.webp" alt="Susse Volander" width="500" height="500" loading="lazy" />
    <article class="workshop_tekst slide-in from-right">
      <h2>WORKSHOP</h2>
      <br />
      <p class="tekst_workshop">
        Jeg underviser i mine teknikker, så hvis du ser noget på min hjemmeside du gerne vil lære teknikken på, så er det her du kan lære det. Jeg går ud fra de spørgsmål mange har spurgt mig om: Hvordan kommer man igang med at male, hvordan finder man et motiv, hvordan finder man inspiration og hvordan holder man gang i inspirationen. Disse undervisninger er både for voksne og børn i mit værksted og i folks eget hjem. I denne meget intensive undervisning, bruger eleven sine egne materialer. <br /><br />
        <div class="workshop_price">
          <h2>PRISLISTE</h2>
          <p class="note">Bemærk: Alle priser er estimater og kan variere. Kontakt mig for et præcist tilbud.</p><br />
          <p>
            2 timer 500kr for en person. <br />
            2 timer 600kr for 2 personer. <br />
            2 timer 700kr for 3 personer. <br />
          </p>
        </div>
      </p>
    </article>
  </section>

  <section class="tidligere_workshop fade-in">
    <article class="workshop">
      <div class="background"><img src="/workshop/bgr.webp" width="1440" height="814" alt="papir" /></div>
      <div class="wrap">
        <div class="tidligere_tekst">
          <h1 class="tidligere_workshop_title">MINE TIDLIGERE<br />WORKSHOPS</h1>
          <div class="flower_3"><FlowerAnimation variant="third" /></div>
          <p class="tidligere_bodytekst">I vores tidligere workshops har deltagerne udforsket deres kreative potentiale gennem aktiviteter som skulpturbygning med genbrugsmaterialer, skabelse af tredimensionelle collager, kreative udfoldelser for voksne samt interaktive sanseudstillinger om lys, skygge og fordybelse.</p>
        </div>
        <img class="workshop_1 slide-in from-left" src="/workshop/mobil.webp" width="290" height="370" alt="workshop_mobile" />
      </div>
      <div class="wrap_2">
        <img class="workshop_2 slide-in from-left" src="/workshop/kort.webp" width="470" height="250" alt="workshop" />
        <img class="workshop_3 slide-in from-right" src="/workshop/workshop2.webp" width="470" height="305" alt="workshop" />
      </div>
    </article>

    <div class="slide">
      <WorkshopSlide />
    </div>
  </section>

  <section class="kontaktform fade-in">
    <div class="kontakt">
      <h2>KONTAKT</h2><br />
      <p>
        Kontakt mig her, hvis du har spørgsmål ang. workshops, malerier eller andet, <br />eller hvis du gerne vil modtage nyhedsmail omkring Brug Bogen og leg med mig.
      </p>
    </div>
    <div class="form">
      <div class="form_susse"><Kontaktform /></div>
      <img class="illust_susse" src="/workshop/kontaktsusse.webp" alt="Susse" />
    </div>
  </section>
</Mainlayout>

<style>
  /**************************************darkmode */
  body.dark,
  body.dark .navbar {
    background-color: #10180d;
  }
  body.dark h1,
  body.dark h2,
  body.dark a,
  body.dark p,
  body.dark .kurv {
    color: #fff;
  }

  body.dark .background {
    /*filter: grayscale(20%) invert(80%) hue-rotate(120deg);*/
    filter: grayscale(100%) brightness(30%) opacity(0.4);
  }

  /************************************ mobil */
  .page_title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 40px;
    margin-left: 15px;
  }
  .title_1,
  .title_2,
  .tidligere_workshop_title {
    padding: 0 20px;
    font-family: "Marine Sikona", sans-serif;
    font-size: 45px;
  }

  .title_2 {
    margin-left: 0px;
  }
  .flower_1,
  .flower_2,
  .flower_3 {
    position: absolute;
  }
  .flower_1 {
    top: 5px;
    left: 137px;
  }
  .flower_2 {
    top: 5px;
    left: 44px;
  }
  .flower_3 {
    top: -8px;
    left: 179px;
  }
  .workshop_1,
  .kontakt,
  .workshop_2,
  .workshop_3 {
    width: 100%;
  }

  .workshop_susse {
    margin-top: 40px;
    object-fit: cover;
    width: 80%;
  }

  .note {
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
  }
  .tekst_workshop {
    font-family: "Lato";
  }
  .workshop_1,
  .kontakt {
    padding: 20px 40px;
  }
  .workshop_2,
  .workshop_3 {
    padding: 0 40px 20px 40px;
    object-fit: cover;
  }

  .workshop_tekst,
  .tidligere_bodytekst {
    margin: 0 40px;
    font-size: 16px;
    font-family: "Lato";
  }
  .workshop_tekst h2,
  .kontakt h2 {
    font-size: 30px;
    font-family: "Marine Sikona", sans-serif;
  }

  .workshop_price {
    padding: 20px 0;
    color: #494242;
  }

  .om_workshop {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 0px;
  }

  .workshop {
    display: block;
    margin: 0;
    position: relative;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
  }

  .tidligere_workshop_title {
    margin: 40px 20px 20px 20px;
  }
  .tidligere_bodytekst {
    padding-bottom: 20px;
  }

  .slide {
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .kontakt p {
    width: 100%;
    padding-right: 0px;
    font-family: "Lato";
  }
  .form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 40px 40px 40px;
    position: relative;
  }

  .illust_susse {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }

  .from-left {
    grid-column: 1 / 2;
    transform: translateX(-15%);
  }

  .from-right {
    grid-column: 2 / 3;
    transform: translateX(15%);
  }

  .from-left,
  .from-right {
    transition: transform 0.1s ease-in;
  }

  .from-left.appear,
  .from-right.appear {
    transition: transform 0.2s ease-in;
    transform: translateX(0);
  }

  @media (min-width: 425px) {
    .title_1,
    .title_2,
    .tidligere_workshop_title {
      font-size: 48px;
      padding: 0 20px;
    }
    .workshop_tekst,
    .tidligere_bodytekst {
      margin: 0 40px;
      font-size: 16px;
    }
    .title_2 {
      margin-left: 0px;
    }
    .flower_1 {
      top: 6px;
      left: 142px;
    }
    .flower_2 {
      top: 6px;
      left: 62px;
    }
    .flower_3 {
      top: -7px;
      left: 191px;
    }
    .om_workshop {
      display: flex;
      gap: 40px;
      margin-top: 0px;
    }
  }
  @media (min-width: 600px) {
    .page_title h1 {
      font-size: 60px;
    }
    .title_2 {
      margin-left: 216px;
    }
    .workshop_susse {
      margin/top: 40px;
      object-fit: cover;
      width: 60%;
    }
  }
  /**********************************************'Tablet */
  @media (min-width: 768px) {
    .title_2 {
      margin-left: 200px;
    }
    .om_workshop {
      display: flex;
      flex-flow: column wrap;
    }

    .workshop_susse {
      width: 55%;
      margin: 0px 0px;
      object-fit: contain;
    }
    .flower_1 {
      top: 17px;
      left: 516px;
    }
    .flower_2 {
      top: -31px;
      left: 82px;
    }
    .flower_3 {
      top: 9px;
      left: 176px;
    }
    .workshop_1 {
      justify-self: flex-end;
      grid-column: 1 / 2;
      object-fit: cover;
      max-width: 100%;
      height: auto;
      padding: 0;
    }
    .wrap,
    .wrap_2 {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr 1fr;
      grid-auto-rows: auto auto;
      gap: 40px;
    }

    .wrap {
      margin: 100px 120px 40px 120px;
    }
    .wrap_2 {
      margin: 0 100px;
    }
    .tidligere_tekst {
      grid-column: 2/3;
      position: relative;
    }

    .tidligere_workshop_title {
      padding: 0 0 10px 0;
      margin: 0;
      font-size: 60px;
    }
    .tidligere_bodytekst {
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
    .tidligere_workshop {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      width: 100%;
      position: relative;
    }

    .workshop_2 {
      justify-self: flex-end;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-left: 100px;
    }
    .workshop_3 {
      grid-column: 2/3;
      grid-row: 1/3;
      margin-right: 100px;
    }
    .workshop_2,
    .workshop_3 {
      padding: 0;
      object-fit: cover;
    }

    .background img {
      position: absolute;
      top: -32%;
      left: 0;
      width: 100%;
    }
    .slide {
      padding-top: 50px;
    }
    .kontakt {
      margin: 100px 100px 0 100px;
      max-width: 100%;
      padding: 0;
    }
    .kontakt p {
      width: 70%;
      padding-right: 0px;
    }
    .form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 40px 0 0 100px;
    }
    .form_susse {
      padding-bottom: 50px;
    }
    .illust_susse {
      flex-shrink: 0; /* Illustrationen beholder sin størrelse, når skærmen bliver mindre */
    }
  }

  @media (min-width: 800px) {
    .om_workshop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      margin: 80px 120px 0px 0px;
    }
    .workshop_susse {
      width: 75%;
      margin: 0px 0px;
      object-fit: contain;
    }
    .workshop_tekst {
      margin: 50px 0px;
      font-size: 16px;
    }
  }
  /*********************************************************'laptop */
  @media (min-width: 1024px) {
    .page_title {
      margin: 60px;
    }
    .title_1 {
      padding: 0;
    }
    .workshop_1 {
      max-width: 50%;
    }
    .workshop_2,
    .workshop_3 {
      max-width: 74%;
      object-fit: cover;
    }
    .flower_1 {
      top: 17px;
      left: 499px;
    }
    .flower_2 {
      top: 120px;
      left: 58px;
    }
  }
  @media (min-width: 1440px) {
    .flower_2 {
      top: -33px;
      left: 104px;
    }
    .flower_3 {
      top: 86px;
      left: 391px;
    }
    .workshop_2,
    .workshop_3 {
      max-width: 78%;
    }
  }
  @media (min-width: 2560px) {
    .slide {
      width: 76%;
    }
    .flower_2 {
      top: -30px;
      left: 192px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const faders = document.querySelectorAll(".fade-in");
    const sliders = document.querySelectorAll(".slide-in");

    const appearOptions = {
      threshold: 0, // 요소가 50% 뷰포트에 나타날 때 트리거
      rootMargin: "0px 0px -250px 0px",
    };

    const appearOnScroll = new IntersectionObserver(function (entries, appearOnScroll) {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return;
        } else {
          entry.target.classList.add("appear");
          appearOnScroll.unobserve(entry.target); // 요소가 나타난 후 옵저버 해제
        }
      });
    }, appearOptions); // 여기서 `options` 대신 `appearOptions` 사용

    faders.forEach((fader) => {
      appearOnScroll.observe(fader);
    });
    sliders.forEach((slider) => {
      appearOnScroll.observe(slider);
    });
  });
</script>
