---
const { category } = Astro.props;
---

<button> {category} </button>

<style>
  button {
    border: 0;
    background-color: #ffff;
    font-family: "Lato";
    font-size: 15px;
    color: #494242;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    transition: 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }

  button:hover {
    box-shadow: 0 4px 8px 0 rgb(185, 164, 175);
    background-color: #fdd9ec;
    cursor: pointer;
  }

  button:active {
    box-shadow: 0 3px 5px 0 rgba(185, 164, 175);
  }

  /*DARK MODE*/

  body.dark button {
    background-color: #5a605b;
    color: #fff;
  }

  body.dark button:hover {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
    background-color: #4f5d49;
    color: #fff;
  }

  body.dark button:active {
    box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 0.5);
  }
</style>
