---
const { data } = Astro.props;

let classAsString = "";
data.category.forEach((element) => {
  classAsString += element + " ";
});
console.log("classAsString", classAsString);
---

<article class={"card " + classAsString}>
  <a href={"../singleview/" + data.slug}>
    <img src={data.image} alt="random image" />
    <div class="overlay">
      <h1>{data.name}</h1>
      <p class="price">{data.price} kr.</p>
      <a href={"../singleview/" + data.slug}><span class="seemore">Se mere</span></a>
    </div>
  </a>
</article>

<style>
  /* CARD STYLING */
  .card {
    background-color: #fcfff6;
    height: 480px;
    width: 300px;
    border-radius: 10px;
    text-align: left;
    font-family: "Lato";
    line-height: 1.8;
    border-radius: 10px;
    transition: 0.6s;
    text-decoration: none;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .card img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
    object-fit: cover;
  }

  .price {
    color: #233f1c;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .overlay {
    margin: 20px;
  }

  .overlay h1 {
    font-size: 19px;
    font-family: "Lato";
    color: #233f1c;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* CARD BUTTON */
  .card a {
    cursor: pointer;
    text-decoration: none;
  }

  .seemore {
    background-color: #bcd0a7;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.6s;
  }

  .seemore:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9eb08b;
    box-shadow: 0 4px 8px 0 rgb(51, 67, 60);
  }

  .seemore:active {
    box-shadow: 0 3px 5px 0 rgb(65, 84, 76);
  }

  /* DARK MODE */

  body.dark .card {
    background-color: #2e403b;
  }

  body.dark .card h1,
  body.dark .card .price {
    color: #fff;
  }
</style>
