<div class="form">
  <form action="/thank-you" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <input type="text" id="name" name="name" placeholder="Dit navn" required />
    <input type="text" id="mail" name="mail" placeholder="Din E-mail" required />
    <textarea id="message" name="message" placeholder="Besked" cols="30" rows="6"></textarea>
    <div class="button-container">
      <button type="submit" value="Send">Send</button>
    </div>
  </form>
</div>

<style>
  /* FORMS */
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 60px;
    font-family: "Hind Madurai";
    width: 100%;
    max-width: 400px;
    background-color: #e5e5e5;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }

  form input,
  form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  form button {
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #798370;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: #fff;
    width: 108px;
    margin-top: 15px;
    transition: 0.6s;
  }

  form button:hover {
    background-color: #5b6354;
    cursor: pointer;
    color: #fff;
  }

  @media only screen and (max-width: 1080px) {
    form {
      width: 90%;
      margin: 20px;
      padding: 20px;
    }

    form input,
    form textarea {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    form {
      width: 95%;
      margin: 10px;
      padding: 20px;
      margin-bottom: 60px;
    }
  }

  /* DARK MODE */
  body.dark form {
    background-color: #384b46;
  }

  body.dark form input,
  body.dark form textarea {
    background-color: #cfcfcf;
    border: 1px solid #2a2a2a;
    color: #000;
  }
</style>
