---
import PinkKnap from "../components/Pink_knap.astro";
import IndexSlide from "../components/IndexSlide.astro";

---
<div class="front_gallery_container">
    <article class="front_gallery_text">
        <h2 class="spacing">Tidligere værker</h2>
        <p class="spacing">Kære venner, tag et ømt kig tilbage på disse nøje udvalgte værker fra min tidligere skabninger! Hvert maleri er som et vindue ind i min kunstneriske rejse, en eksplosion af liv og farve, der fanger et unikt øjeblik der udfolder sig på lærredet.
        </p>
        <PinkKnap linknavn="/galleri" variant="secondary">Se galleri</PinkKnap>
    </article>
    <div class="slide">
      <IndexSlide></IndexSlide>
    </div>
   
</div>
        <style>
body.dark .front_gallery_text h2, body.dark .front_gallery_text p {
  color: white;
}
body.dark .front_gallery_container h2{
  filter: none;
}

.h3_text {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.spacing {
    margin: 15px 0;
}

.front_gallery_text{
    margin-top: 90px;
    margin: 0 33px;
}
.front_gallery_container{
  position: relative;
  margin-bottom: 50px;
}

  .slide {
      padding-left: 10px;
    }
@media screen and (min-width: 768px) {
    .front_gallery_text{
        text-align: center;
        max-width: 950px;
        margin: 120px 50px 0 50px;
    }

    .slide {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
      padding-left: 10px;
  }
}
@media screen and (min-width: 1088px) {
    .front_gallery_text{
        text-align: center;
        max-width: 950px;
        margin:  120px auto 0;
    }
}
        </style>
