---
import "../styles/style.css";

const { data } = Astro.props;
console.log(data);
---

<div class="gallery_cards">
  <img class="animalabstraks" src={data.img} alt={data.name} />
  <p class="title">{data.name}</p>
  <p class="caption_dashed"><span class="caption_tekst">{data.measure}</span></p>
</div>

<!--<div class="gallery_cards">
  <img class="animalabstraks" src="/gallery/vol5051.webp" alt="" />
  <p class="title">Animal abstraks IV</p>
  <p class="caption_dashed"><span class="caption_tekst">900x900</span></p>
</div> -->
<style>
  .gallery_cards img {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  .gallery_cards img.appear {
    opacity: 1;
  }
  .caption_dashed::before {
    width: 65px;
    margin-right: 16px;
    margin-left: 20px;
    content: " ";
    display: inline-block;
    background-color: #c8cbcc;
    height: 1px;
    vertical-align: middle;
    margin-top: 0.68em;
    margin-bottom: 0.7em;
    flex-grow: 0;
    flex-shrink: 0;
  }
</style>
