---

---

<div class="kontaktform">
  <form action="/thank-you" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <input type="text" id="name" name="fullname" placeholder="Dit navn" required />
    <input type="text" id="e-mail" name="email" placeholder="Din e-mail" required />
    <textarea id="besked" name="besked" placeholder="Besked" required></textarea>
    <div class="submit-container">
      <input type="submit" value="Send" />
    </div>
  </form>
</div>

<style>
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    /*margin-top: 6px;*/
    margin-bottom: 10px;
    resize: vertical;
    font-weight: 500;
  }

  input[type="submit"] {
    background-color: #678577;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 108px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  input[type="submit"]:hover {
    background-color: #3e5948;
    color: #eaecec;
    font-weight: 700;
  }

  #besked {
    height: 174px;
  }

  .kontaktform {
    background-color: #e9e9e9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }

  .submit-container {
    display: flex;
    justify-content: center;
  }

  body.dark .kontaktform {
    background-color: #384b46;
  }
  @media (min-width: 768px) {
    .kontaktform {
      padding: 40px;
    }
  }
</style>
