---
const linknavn = Astro.props.linknavn;
---

<button>{linknavn}</button>

<style>
button {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: "Lato";
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background-color: #F20056;
    border-color: #F20056;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    color: #494242;
    background-color: #FFBAD2;
    border-color:#FFBAD2;
    cursor: pointer;
}
</style>
