---
const linknavn = Astro.props.linknavn;
---

<button>{linknavn}</button>

<style>
button{
    padding: 10px 15px;
    border-radius: 10px;
    font-family: "Lato";
    text-decoration: none;
    color: #ffffff;
    background-color: #F20056;
    border-color: #F20056;
}


    
</style>