---
const link = Astro.props.linknavn;
---

<a href={link} class="custom-button">
  <slot />
</a>

<style>
  .custom-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: "Lato";
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #5C604D;
    border: 2px solid #5C604D;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .custom-button:hover {
    color: #494242;
    background-color: #FFBAD2;
    border-color: #FFBAD2;
    cursor: pointer;
  }
  .custom-button[data-variant="secondary"] {
    border: 2px solid #F20056;
    background-color: transparent;
    color: #F20056;
  }

  .custom-button[data-variant="secondary"]:hover {
    background-color: #F20056;
    color: black;
  }
</style>
