---
const link = Astro.props.linknavn;
---

<a href={link} class="custom-button">
  <slot />
</a>

<style>

  body.dark .custom-button{
    background-color: #394B46 ;
    border: 2px solid #394B46 ;
  } 

  body.dark .custom-button:hover{
    background-color: #1a2d24 ;
    border: 2px solid #1a2d24 ;
    color: white;
  } 



  .custom-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: "Lato";
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #F20056;
    border: 2px solid #F20056;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .custom-button:hover {
    color:#10180d;
    background-color: #ffbad2;
    border-color: #ffbad2;
    cursor: pointer;
  }
  .custom-button[data-variant="secondary"] {
    border: 2px solid #10180d;
    background-color: transparent;
    color: #F20056;
  }

  .custom-button[data-variant="secondary"]:hover {
    background-color: #7e8880;
    color: black;
  }
</style>
