---

---

<div class="socials">
  <a href="https://www.facebook.com/susse.volander"><img src="../images/facebook_icon.webp" alt="icon" /></a>
  <a href="https://www.instagram.com/sussevolander/"><img src="../images/instagram_icon.webp" alt="icon" /></a>
</div>

<style>
  .socials {
    display: flex;
    gap: 20px;
  }

  .socials img {
    width: 45px;
  }

  .socials img:hover {
    opacity: 70%;
  }

  /* DARK MODE */

  body.dark .socials img {
    filter: grayscale(100%);
  }
</style>
