---

---

<div class="socials">
  <a href="https://www.facebook.com/susse.volander"><img src="../images/facebook_icon.webp" aria-label="Facebook" /></a>
  <a href="https://www.instagram.com/sussevolander/"><img src="../images/instagram_icon.webp" aria-label="Instagram" /></a>
</div>

<style>
  .socials {
    display: flex;
    gap: 20px;
  }

  .socials img {
    max-width: 50px;
  }

  .socials img:hover {
    opacity: 70%;
  }
</style>
