---

---

<div class="socials">
  <a href="#"><img src="../images/facebook_icon.webp" alt="icon" /></a>
  <a href="#"><img src="../images/instagram_icon.webp" alt="icon" /></a>
</div>

<style>
  .socials {
    display: flex;
    gap: 20px;
  }

  .socials img {
    width: 45px;
  }
</style>
