---

---

<div class="horizontal_slider">
  <div class="slider_container">
    <div class="item">
      <img src="/workshop/item_1.webp" alt="img1" />
    </div>
    <div class="item">
      <img src="/workshop/item_2.webp" alt="img2" />
    </div>
    <div class="item">
      <img src="/workshop/item_3.webp" alt="img3" />
    </div>
    <div class="item">
      <img src="/workshop/item_4.webp" alt="img4" />
    </div>
    <div class="item">
      <img src="/workshop/item_5.webp" alt="img5" />
    </div>
    <div class="item">
      <img src="/workshop/item_6.webp" alt="img6" />
    </div>
    <div class="item">
      <img src="/workshop/item_7.webp" alt="img7" />
    </div>
    <div class="item">
      <img src="/workshop/item_8.webp" alt="img8" />
    </div>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  .horizontal_slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;
  }
  /*this is for chrome/firefox/opera and safari*/
  .horizontal_slider::-webkit-scrollbar {
    display: none;
  }

  .slider_container {
    display: block;
    white-space: nowrap;
  }
  .item {
    display: inline-block;
    margin-right: 10px;
  }
  .item img {
    width: 300px;
    transition: transform 0.3s ease;
  }

  .item img:hover {
    transform: scale(1.2);
  }
</style>
