---

---

<div class="gallery-wrap">
  <i class="fa-solid fa-circle-chevron-left" id="backBtn"></i>
  <div class="gallery">
    <div>
      <span><img src="/workshop/item_1.webp" alt="img1" /> </span>
      <span><img src="/workshop/item_2.webp" alt="img2" /> </span>
      <span><img src="/workshop/item_3.webp" alt="img3" /> </span>
      <span><img src="/workshop/item_4.webp" alt="img4" /> </span>
      <span><img src="/workshop/item_5.webp" alt="img5" /> </span>
      <span><img src="/workshop/item_6.webp" alt="img6" /> </span>
      <span><img src="/workshop/item_7.webp" alt="img7" /> </span>
      <span><img src="/workshop/item_8.webp" alt="img8" /> </span>
    </div>
  </div>
  <i class="fa-solid fa-circle-chevron-right" id="nexBtn"></i>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  .gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    padding: 10px;
    flex: none;
  }
  .gallery div img {
    width: 100%;
  }
  .gallery::-webkit-scrollbar {
    display: none;
  }
  #backBtn,
  #nexBtn {
    font-size: 50px;
    cursor: pointer;
    margin: 30px;
    color: #233f1c;
  }
  .gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
  }
  .gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }
  body.dark #backBtn,
  body.dark #nexBtn {
    color: #fff;
  }

  @media (min-width: 320px) {
    .gallery {
      width: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
    .gallery div {
      flex-wrap: nowrap;
    }

    .gallery div img {
      width: 200px;
    }
    #backBtn,
    #nexBtn {
      font-size: 30px;
      cursor: pointer;
      margin: 20px;
    }
  }
  @media (min-width: 375px) {
    .gallery {
      width: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
    .gallery div {
      flex-wrap: nowrap;
    }

    .gallery div img {
      width: 310px;
    }
    #backBtn,
    #nexBtn {
      font-size: 30px;
      cursor: pointer;
      margin: 20px;
    }
  }
  @media (min-width: 768px) {
    .gallery-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 30px;
    }
    .gallery div img {
      width: 290px;
    }
  }
  @media (min-width: 1024px) {
    .gallery-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 120px;
    }
    .gallery div img {
      width: 300px;
    }
    #backBtn,
    #nexBtn {
      font-size: 40px;
      cursor: pointer;
      margin: 20px;
    }
  }

  @media (min-width: 1440px) {
    .gallery-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 120px;
    }
    .gallery div img {
      width: 320px;
    }

    #backBtn,
    #nexBtn {
      font-size: 50px;
      cursor: pointer;
      margin: 30px;
    }
  }
  @media (min-width: 2560px) {
    .gallery-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 120px;
    }

    .gallery div img {
      width: 500px;
    }
  }
</style>

<script>
  let scrollContainer = document.querySelector<HTMLElement>(".gallery");
  let backBtn = document.getElementById("backBtn") as HTMLElement;
  let nextBtn = document.getElementById("nexBtn") as HTMLElement;

  scrollContainer.addEventListener("wheel", (evt) => {
    evt.preventDefault();
    let wheelEvent = evt as WheelEvent;
    scrollContainer.scrollLeft += wheelEvent.deltaY;
    scrollContainer.style.scrollBehavior = "auto";
  });

  backBtn.addEventListener("click", () => {
    let item = document.querySelector<HTMLElement>(".gallery div span img");
    let itemWidth = item ? item.clientWidth + 20 : 0; // Legger til margen
    let scrollAmount = Math.max(0, scrollContainer.scrollLeft - itemWidth);
    scrollContainer.scrollTo({
      left: scrollAmount,
      behavior: "smooth",
    });
  });

  nextBtn.addEventListener("click", () => {
    let item = document.querySelector<HTMLElement>(".gallery div span img");
    let itemWidth = item ? item.clientWidth + 20 : 0; // Legger til margen
    let maxScroll = scrollContainer.scrollWidth - scrollContainer.clientWidth;
    let scrollAmount = Math.min(maxScroll, scrollContainer.scrollLeft + itemWidth);
    scrollContainer.scrollTo({
      left: scrollAmount,
      behavior: "smooth",
    });
  });
</script>
